&share
 wrf_core = 'ARW',
 max_dom = 1,
 start_date = '2026-05-25_12:00:00',
 end_date   = '2026-05-26_00:00:00',
 interval_seconds = 10800,
 io_form_geogrid = 2,
/

&geogrid
 parent_id         =   1,
 parent_grid_ratio =   1,
 i_parent_start    =   1,
 j_parent_start    =   1,
 e_we              =  80,
 e_sn              =  60,
 geog_data_res     = 'lowres',
 dx = 15000,
 dy = 15000,
 map_proj  = 'mercator',
 ref_lat   = -31.5,
 ref_lon   = -68.5,
 truelat1  = -31.5,
 truelat2  = 0.0,
 stand_lon = -68.5,
 geog_data_path = '/wrf/WPS_GEOG/WPS_GEOG_LOW_RES/',
/

&ungrib
 out_format = 'WPS',
 prefix = 'FILE',
/

&metgrid
 fg_name = 'FILE',
 io_form_metgrid = 2,
/
