&time_control
 run_days                            = 0,
 run_hours                           = 12,
 run_minutes                         = 0,
 run_seconds                         = 0,
 start_year                          = 2026,
 start_month                         = 07,
 start_day                           = 05,
 start_hour                          = 12,
 end_year                            = 2026,
 end_month                           = 07,
 end_day                             = 06,
 end_hour                            = 00,
 interval_seconds                    = 10800
 input_from_file                     = .true.,
 history_interval                    = 60,
 frames_per_outfile                  = 1,
 restart                             = .false.,
 restart_interval                    = 7200,
 io_form_history                     = 2
 io_form_restart                     = 2
 io_form_input                       = 2
 io_form_boundary                    = 2
 auxinput11_interval_m               = 30,
 auxinput11_inname                   = "OBS_DOMAIN101",
 /

 &domains
 time_step                           = 90,
 time_step_fract_num                 = 0,
 time_step_fract_den                 = 1,
 max_dom                             = 1,
 e_we                                = 80,
 e_sn                                = 60,
 e_vert                              = 35,
 dzstretch_s                         = 1.5
 p_top_requested                     = 5000,
 num_metgrid_levels                  = 34,
 num_metgrid_soil_levels             = 4,
 dx                                  = 15000,
 dy                                  = 15000,
 grid_id                             = 1,
 parent_id                           = 0,
 i_parent_start                      = 1,
 j_parent_start                      = 1,
 parent_grid_ratio                   = 1,
 parent_time_step_ratio              = 1,
 feedback                            = 1,
 smooth_option                       = 0
 /

 &physics
 physics_suite                       = 'CONUS'
 mp_physics                          = -1,
 cu_physics                          = -1,
 ra_lw_physics                       = -1,
 ra_sw_physics                       = -1,
 bl_pbl_physics                      = -1,
 sf_sfclay_physics                   = -1,
 sf_surface_physics                  = -1,
 radt                                = 15,
 bldt                                = 0,
 cudt                                = 0,
 icloud                              = 1,
 num_land_cat                        = 21,
 sf_urban_physics                    = 0,
 fractional_seaice                   = 1,
 /

 &fdda
 grid_fdda                           = 0,
 obs_nudge_opt                       = 1,
 obs_nudge_wind                      = 1,
 obs_nudge_temp                      = 1,
 obs_nudge_mois                      = 1,
 obs_no_pbl_nudge_uv                 = 0,
 obs_no_pbl_nudge_t                  = 0,
 obs_no_pbl_nudge_q                  = 0,
 obs_coef_wind                       = 0.0005,
 obs_coef_temp                       = 0.0005,
 obs_coef_mois                       = 0.0005,
 obs_rinxy                           = 50.0,
 obs_sfcfacr                         = 2.0,
 obs_twindo                          = 1.0,
 obs_sfcfact                         = 1.0,
 obs_ionf                            = 1,
 obs_npfi                            = 30,
 obs_ipf_in4dob                      = .true.,
 max_obs                             = 10000,
 obs_prt_max                         = 100,
  fdda_end                            = 720,
  gfdda_inname                        = "wrffdda_d<domain>",
 gfdda_interval_m                    = 360,
 gfdda_end_h                         = 12,
 io_form_gfdda                       = 2,
 fgdt                                = 0,
 /

 &dynamics
 hybrid_opt                          = 2,
 w_damping                           = 0,
 diff_opt                            = 2,
 km_opt                              = 4,
 diff_6th_opt                        = 0,
 diff_6th_factor                     = 0.12,
 base_temp                           = 290.
 damp_opt                            = 3,
 zdamp                               = 5000.,
 dampcoef                            = 0.2,
 khdif                               = 0,
 kvdif                               = 0,
 non_hydrostatic                     = .true.,
 moist_adv_opt                       = 1,
 scalar_adv_opt                      = 1,
 gwd_opt                             = 1,
 /

 &bdy_control
 spec_bdy_width                      = 5,
 specified                           = .true.
 /

 &grib2
 /

 &namelist_quilt
 nio_tasks_per_group = 0,
 nio_groups = 1,
 /
